<dialog open id='edit-todo-<%= todo.id %>'>
  <article>
    <h3>Edit todo</h3>
    <input value='<%= todo.description %>'
    <footer>
      <a href="#cancel" role="button" class="secondary">Cancel</a>
      <a href="#confirm" role="button">Confirm</a>
    </footer>
  </article>
</dialog>
